@charset "UTF-8";

button {
    background-attachment: center;
    background-color: #1dcd14;
    color: #ffffff;
    border: none;
}

.order-item {
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 1rem;
    padding: 1rem;
}

.order-item:last-child {
    margin-bottom: 0;
}

.page-link {
    display: inline-block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.page-link:hover {
    background-color: #e9ecef;
}

.page-item.active.page-link {
    z-index: 1;
    color: #fff;
    background-color: #007bff;
}

.pagination {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.btn-red {
    background-attachment: center;
    background-color: #cd2714;
    color: #ffffff;
    border: none;
    margin-left: 270px; 
}