<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>トップページ</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
    <form th:action="@{/login}" method="post">
        <h1>ログイン</h1>
        <label for="name">名前</label>
        <input type="name" id="name" name="name" placeholder="Value">
        <br>
        <label for="password">パスワード</label>
        <input type="password" id="password" name="password" placeholder="Value">
        <br>
        <button type="button">ログイン</button>
        <button type="button" th:onclick="|location.href='@{/newuser_registration}">新規登録</button>
    </form>
    <u href="@{password_reset.html}">パスワードリセット</u>
</body>
