<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>マイページ</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
    <form th:action="@{/users/update}" method="post" th:object="${user}">
        <h1>マイページ</h1>
        <input type="hidden" name="id" th:value="*{id}">

        <label for="name">名前：</label>
        <input type="text" id="name" name="name" th:value="*{name}">
        <br>
        <label for="password">パスワード：</label>
        <input type="password" id="password" name="password">
        <br>
        <button type="submit">変更</button>
        <p th:if="${message}" th:text="${message}"></p>
        <button type="submit" th:formaction="@{/users/purchasehistory}" formmethod="get">購入履歴</button>
        <button type="submit" th:formaction="@{/users/withdraw}" onclick="return confirm('退会してもよろしいですか？')"
            method="post">退会</button>
    </form>
    <a th:href="@{/books/top}">戻る</a>
</body>

</html>