<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>新規登録</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
    <form th:action="@{/users/registration}" th:object="${userForm}" method="post">
        <h1>新規登録</h1>
        <label for="name">名前</label>
        <input type="text" id="name" th:field="*{name}">
        <br>
        <label for="password">パスワード</label>
        <input type="password" id="password" th:field="*{password}">
        <br>
        <label for="role">役職</label>
        <select name="select4" id="p4" required th:field="*{role}">
            <option value="" disabled selected>選択してください</option>
            <option value="会員">会員</option>
            <option value="在庫管理者">在庫管理者</option>
            <option value="システム管理者">システム管理者</option>
        </select>
        <br>
        <p th:if="${message}" th:text="${message}" style="color: blue;"></p>
        <button type="submit" >登録</button>
        <a th:href="@{/}">戻る</a>
    </form>
</body>

</html>