<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>注文確認</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
    <form action="/shipping" method="post">
        <h1>注文確認</h1>
        <p>書籍名/購入数/注文日/配送ステータス</p>
        <span th:each="book : ${books}">
            <p th:text="${book.title}">/</p>
            <p th:text="${book.orderCount}">冊/</p>
            <p th:text="${book.createdAt}">/</p>
            <p th:text="${book.status}">/</p>
        </span>
        <button type="submit">発送する</button>
        <a th:href="@{/menu}">戻る</a>
    </form>
</body>

</html>