<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>パスワードリセット</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
    <form th:action="@{/password_reset_execute}" method="post">
        <h1>パスワードをリセットしますか？</h1>
        <label for="name">名前</label>
        <input type="name" id="name" name="name">
        <br>
        <button type="submit" onclick="return confirm('パスワードをリセットしてもよろしいですか？')">リセットする</button>
    </form>
</body>

</html>