<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>パスワードリセット完了</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
    <!-- <form th:action="@{/}" method="get">
        <p>パスワードをリセットしました</p>
        <p>ログイン後、マイページからパスワードを変更してください。</p>
        <button type="submit">ログインへ戻る</button>
    </form> -->
    <h1>パスワード再設定</h1>
    <p th:if="${message}" th:text="${message}" style="color: red;"></p>
    <form th:action="@{/password_reset_update}" method="post">
        <label for="password">新しいパスワード</label>
        <input type="password" id="password" name="password">
        <br>
        <button type="submit">パスワードを変更する</button>
        <a href="/">ログイン画面に戻る</a>
</body>

</html>