<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>パスワードリセット完了</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
    <h1>パスワード再設定</h1>
    <form th:action="@{/password_reset_update}" th:object="${userForm}" method="post">
        <label for="password">新しいパスワード</label>
        <input type="password" id="password" name="password">
        <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color: red;"></span>
        <br>
        <button type="submit">パスワードを変更する</button>
        <a href="/">ログイン画面に戻る</a>
</body>

</html>