<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>購入確認</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
    <form th:action="@{/books/purchasecompleted}" method="post">
        <input type="hidden" name="id" th:value="${book.id}">
        <input type="hidden" name="quantity" th:value="${quantity}">
        <h1>購入確認</h1>
        <p>書籍名/価格/購入数</p>
        <p>
            <span th:text="${book.title}"></span>/
            <span th:text="${book.price}"></span>円/
            <span th:text="${quantity}"></span>冊
        </p>
        <button type="submit"> 購入</button>
    </form>
</body>

</html>