<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>売上集計</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
    <form th:action="@{/tally}" th:object="${salesForm}" method="post">
        <h1>売上集計</h1>

        <p>期間</p>
        <input type="date" th:field="*{startDate}"> 〜 <input type="date" th:field="*{endDate}">
        <button type="submit">検索</button>
        <p th:if="${message}" th:text="${message}" style="color: red;"></p>

        <p>書籍名 / 売れた数 / 売上金額</p>
        <div th:each="book : ${salesList}">
            <span th:text="${book.title}">書籍名</span> /
            <span th:text="${book.salesAmount}">0</span>冊 /
            <span th:text="${book.totalSales}">0</span>円
        </div>

        <div>
            <button type="button" th:onclick="|location.href='@{/books/apidownload}'|">CSV出力</button>
            <button type="submit" th:onclick="|location.href='@{/books/apiupload}'|">CSVアップロード</button>
        </div>

        <a th:href="@{/menu}">戻る</a>
    </form>
</body>

</html>