<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>ユーザー一覧</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
    <h1>役職/名前/登録日</h1>
    <span th:each="user : ${users}">
        <span th:text="${user.name}"></span> |
        <span th:text="${user.role}"></span> |
        <span th:text="${#temporals.format(user.createdAt, 'yyyy/MM/dd HH:mm')}"></span>
    </span>
    <br>
    <a th:href="@{/menu}">戻る</a>
</body>

</html>